@use '../variables/fonts' as f;
@use '../variables/colors' as c;
@use '../mixins/mixins' as mi;

.contact{
    section{
        margin-top: 2rem;
    }

    .intro{
        text-align: center;
    }

    .team{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 2rem;
        justify-items: center;

        @include mi.mediaQuery(mi.$tablet){
            grid-template-columns: repeat(3, 1fr);
        }

        &__member{
            
            &-img{
                box-shadow: 8px 10px 20px rgba(0, 0, 0, .2);
                border-radius: 20px;
                
                
                display: flex;
                align-items: start;

              

                img{
                    margin-bottom: 0;
                }
            }
            
            &-info{
                margin-top: 1rem;

                &-name{
                    margin: 0;
                    font-size: f.$font-s;
                }

                p{
                    margin: 0;
                }

                &-links{
                    font-size: f.$font-md;
                    a{
                        color: c.$primary-dark;
                    }
                    
                    
                }
            }
        }
    }
}

