@use '../variables/colors' as c;

header{
    background-color: c.$secondary-white;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid c.$secondary-light;

    .container{
        padding: 1rem 4%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}