@use '../variables/colors' as c;
@use '../variables/fonts' as f;

.container{
    padding: 0 2%;
}

.home{
    //HERO
    .hero{
        background-image: linear-gradient(c.$primary-dark 70%, c.$secondary-white 70%);
        color: c.$secondary-white;
        padding-top: 2rem;
    }

    //ABOUT OUR APP
    .about{
        &__heading{
            text-align: center;
        }

        img{
            box-sizing: border-box;
            padding: 0 4rem 1rem 4rem;
        }

        &__items{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            &-uni{
                background-color: c.$primary-dark;
                color: c.$secondary-white;
                border-radius: 55px 0;
                padding: 1rem 1.5rem;
            }
        }
    }

    section:not(:first-of-type){
        margin-top: 4rem;
    }

    //FEATURES
    .features{
        text-align: center;
    }

    //INTERFACE
    .interface{
        text-align: center;
        color: c.$secondary-white;

        background-color: c.$primary-dark;
        border-radius: 0 100px;
        padding: 3.5rem 0;
    }

    //CTA
    .cta{
        text-align: center;

        h2{
            font-size: f.$font-3xl;
            margin: 0 3rem;
        }
    }

}

