@use '../variables/colors' as c;

.container{
    padding: 0 2%;
}

//HERO
section.hero{
    background-image: linear-gradient(c.$primary-dark 70%, c.$secondary-white 70%);
    color: c.$secondary-white;
    padding: 2rem 0;
    
    h1{
        margin: 0;
        padding: 0;
    }
}