img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.contact{
    .team__member{
        &-img{
        border-radius: 10px;
        overflow: hidden;
        }

        &-info-links{
            img{
                display: inline-block;
            }
        }
    }
}

