$primary-dark: #171122;
$primary-medium: #386AF5;
$primary-accent: #FF6666;

$secondary-dark: #7F7F7F;
$secondary-medium: #CCCCCC;
$secondary-light: #f2f2f2;
$secondary-white: #fff;

$support: #31C451;