$font-body: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu; 

$font-xs: .875rem;
$font-s: 1rem;
$font-md: 1.25rem;
$font-lg: 1.5rem;
$font-xl: 1.875rem;
$font-2xl: 2.5rem;
$font-3xl: 3rem;
$font-4xl: 3.75rem;